* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin displayCenter($direction, $items) {
  display: flex;
  flex-direction: $direction;
  align-items: $items;
  justify-content: center;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

nav {
  background-color: rgb(186, 212, 219);
  cursor: pointer;

  .navbar-brand {
    font-weight: bolder;
    font-size: 1.5rem;
  }

  li {
    padding: 5px 25px;
  }
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #89abbe;

  .banner-left {
    @include displayCenter(column, flex-start);
    height: 100vh;

    h1 {
      font-weight: bolder;
      font-size: 3rem;
    }
  }

  .banner-right {
    @include displayCenter(column, center);
    height: 100vh;
    background-color: #ffffff80;
    // background-color: #ffffff65;

    h1 {
      font-weight: bolder;
      font-size: 2rem;
    }
  }

  .currency-converter {
    padding: 10px 5px;
    input {
      width: 20rem;
      height: 50px;
      border-radius: 5px;
      padding: 5px 10px;
      border-color: transparent;
      outline-color: inherit !important;
    }

    select {
      width: 5rem;
      height: 50px;
      border-radius: 5px;
      border-color: transparent;
    }
  }
  .percentage-converter {
    padding: 10px 5px;
    input {
      width: 20rem;
      height: 50px;
      border-radius: 5px;
      padding: 5px 10px;
      border-color: transparent;
      outline-color: inherit !important;
    }
  }
}
@media (max-width: 576px) {
    .banner {
        text-align: center;
        select {
            margin-right: 5px;
        }
        input {
            width: 10rem !important;
        }
    }
}
@media (max-width: 768px) {
    .banner {
        height: auto;
    }
}